<div class="container">
  <div class="header-left">
    <h3 class="logo"><i class="bx bxs-plane-alt"></i>Travel.id</h3>
  </div>
  <span class="menu-icon"><i data-feather="menu"></i></span>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="https://wa.me/082321475163">Contact</a>
    <a href="http://aprianwebprojects.000webhostapp.com/portofolio2/index.html"
      >About Me</a
    >
    <a href="/order">Reservation</a>
    <a href="/cart"><i class="bx bx-cart"></i></a>
  </div>
</div>
